body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  background-color: #FFFFF0;
}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

.container {
  margin-top: 30px;
  text-align: center;
}

.triviaContainer {
  border: 1px solid #DDD;
  border-radius: 10px;
  padding: 2em 1em;
  margin: auto 20px;
  height: 40em;
  background-color: #FFF;
}

@media (min-width: 1024px) {
  .triviaContainer {
    margin: auto;
    height: 27em;
    width: 50%;
  }
}

.triviaContainer h1.question {
  padding-bottom: 20px;
}

@media (min-width: 1024px) {
  .triviaContainer .choices {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}

.triviaContainer .checkButton {
  margin-top: 10em;
  height: 10%;
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
  background: #87CEFA;
}

@media (min-width: 1024px) {
  .triviaContainer .checkButton {
    margin-top: 1em;
    width: 97%;
  }
}

.triviaContainer .checkButton.disabled {
  opacity: 0.65;
}

.choiceButton {
  padding: 10px;
  border: 1px solid #DDD;
  border-radius: 10px;
  background-color: #FFF;
  margin-bottom: 9px;
  list-style: none;
  font-size: 20px;
}

@media (min-width: 1024px) {
  .choiceButton {
    display: inline-block;
    width: 90%;
    height: 100%;
  }
}

.choiceButton.active {
  border: 2px solid #FFA500;
}